@brown: #48433B;
@lightBrown: #58534B;
@beige: #D8CFBD;
@lightBeige: #E9E0CF;
@size: 12px;

#content {
    margin-top: 20px;
}

/************************* TABLE LIST *************************/
#table_controls_top, #table_controls_bottom {
        font-size: 12px;
}

#table_controls_top div {
        display: inline-block;
        text-align: center;
        width: 33%;
}
#table_controls_bottom {
    margin-bottom: 10px;
    div {
        text-align: center;
        display: inline-block;
        width: 33%;
    }
}

.paging_full_numbers {
    .paginate_button, .paginate_active {
        border-left: 1px solid @brown;
        padding: 2px 9px;
    }
    .paginate_active {
        font-weight: bold;
    }
    .paginate_button {
        cursor: pointer;
        :hover {
            background-color: @lightBeige;
        }
    }
    .first { border-left-width: 0px; }
}

div#list_info {
    width: 100%;
    margin-top: 10px;
    font-weight: bold;
    font-family: sans-serif;
}

table#list {
    font-size: @size;
    font-family: sans-serif;
    margin: 5px 15px;

    border-width: 0px;
    border-spacing: 3px;
    td, th {
        border-style: solid;
        border-color: @brown;
        border-width: 0px 1px 1px 0px;
        padding: 2px 8px;
    }

    .title { width: 25%; }
    .authors { width: 10%; }
    .publisher { width: 10%; }

    thead {
        th {
            color: @lightBeige;
            background-color: @lightBrown;
        }
        th.sorting_asc, th.sorting_desc, th.sorting {
            background-repeat: no-repeat;
            background-position: right center;
            padding-right: 20px;
        }
        th.sorting_asc, th.sorting_desc { background-color: @brown; }
        th.sorting_asc { background-image: url(/img/datatable/sort_desc.png); }
        th.sorting_desc { background-image: url(/img/datatable/sort_asc.png); }
        th.sorting { background-image: url(/img/datatable/sort_both.png); }
    }

    tbody {
        .number {
            text-align: center;
        }
        .notes {
            font-size: @size - 1px;
        }
        .odd { background-color: @beige; }
        .even { background-color: @lightBeige; }
        a { color: black; }
    }
}

/************************* THUMBNAILS LIST *************************/

.tooltip { color: red }

div#list {
    .book {
        display: inline-block;
        border: 1px solid @lightBeige;
        border-radius: 15px;
        padding: 10px;
        margin: 5px;
        font-size: 13px;
        width: 300px;
        text-align: center;
        vertical-align: top;

        :hover {
            box-shadow: @brown 0px 0px 15px;
            cursor: pointer;
        }

        img.cover {
            max-height: 200px;
            max-width: 200px;
            margin: 0px auto 5px auto;
            display: block;
        }

        .title { font-weight: bold; }
    }
    .book.own {
        :hover { background-color: @lightBeige; }
    }
    .book.not-own {
        background-color: @lightBeige;
        :hover { background-color: white; }
    }
}