!!! 5
%html
	%head
		%title About
		%meta{'http-equiv' => "Content-Type", :content => "text/html; charset=UTF-8"}/
		%link{:rel => "stylesheet", :type => "text/css", :href => css('styles')}/
		%link{:rel => "stylesheet", :type => "text/css", :href => css('about')}/

	%body
		%h1
			%img{:src => "/img/icon.jpg", :align => "absmiddle"}/
			%a{:href => "/"} Alexandria Web

		%p This is a test application with the purpose of studing Sinatra Ruby Framework.
		%p It tries to display all books from Alexandria on this computer.