!!! 5
%html
  %head
    %title Alexandria Web - Home
    %meta{'http-equiv' => "Content-Type", :content => "text/html; charset=UTF-8"}
    %link{:rel => "stylesheet", :type => "text/css", :href => css('styles')}
    %link{:rel => "stylesheet", :type => "text/css", :href => css('index')}

  %body
    #{header('Home')}

    #lists
      #recents
        %h3<
          %a{:href => '/list/table'} Recent Books
        %ol
          - (1..5).each do |i|
            %li #{book_link(@data[:all][i])}

      #wishlist
        %h3<
          %a{:href => '/list/table/whislist'} Recent Whishlist
        %ol
          - (1..5).each do |i|
            %li #{book_link(@data[:wishlist][i])}

      #read
        %h3<
          %a{:href => '/list/table/read'} Books to Read
        %ol
          - (1..5).each do |i|
            %li #{book_link(@data[:read][i])}

      %br.clear